/dist/
/timetable/
/doc/*.html
/doc/*.docx
/doc/.database
/doc/svg/*.pdf
/drawing/*.pdf
/system/*.pdf

*.db
*.png
*.dwg
*.svg

/**/.cabal-sandbox/
/**/.stack-work/
/**/dist-newstyle/
/**/stack.yaml.lock
/**/.travis.yml
/**/ToDo.md
/**/.ghci

/active/.gitignore
/diagrams/.gitignore
/geometry/.gitignore
/monoid-extras/.gitignore
/diagrams-gi-cairo/.gitignore
/githash/.gitignore
/githash/.azure/
